*{
  margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,body{
   height: 100%;
   width: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: #FBFBFB;
     padding: 0px 30px;
}
#section-1{
    width: 100%;
    height: 100%;
   font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
      border-bottom: 1px solid lightcoral;
    border-radius: 30px;
}
nav .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.logo i{
    font-size: 28px;
    color: black;
}
.logo h1{
    font-size: 35px;
}
.links{
    display: flex;
    gap: 20px;
    letter-spacing: 1px;
    width: 60%;
    justify-content: center;
}
.links a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.btns{
    display: flex;
    gap: 10px;
}
.btns button{
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
}
.btns button:nth-child(2){
    background-color: black;
    color: white;
}
.hero-div{
    width: 100%;
    height: calc(100% - 60px);        
    /* background-color: rgb(238, 238, 238,0.662); */
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    padding: 15px 30px;
}
.hero-div .left{
   height: 100%;
   width: 50%;
   padding-top: 40px;
}
.left .rating{
   
     padding: 10px 30px;
    display: flex;
    background-color: white;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
     border: none;
    width: fit-content;
    border-radius: 40px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.rating i{
    font-size: 25px;
}

.rating .rate-content h3{
    font-size: 20px;
}
.rating .rate-content span{
    font-size: 12px;
    opacity: 0.4;
}
.left h1{
    font-size: 100px;
    line-height: 1;
    margin: 20px 0px;
    font-weight: 300;
}
.left p{
    font-size: 15px;
    opacity: 0.7;
    width: 85%;
     margin: 15px 0px;
}
.left .btns{
    margin: 40px 10px;
    display: flex;
    gap: 25px;
}
.left .btns button{
   padding: 15px 37px;
   border-radius: 50px;
}
.btns button:nth-child(1){
    background-color: #dadada;
}
.left>h3{
    margin-top: 20px;
    letter-spacing: 1px;
    
}
.left-logo {
    margin: 20px 0px;
    display: flex;
    gap: 30px;
}
.left-logo img{
    height: 50px;
   
}

.hero-div .right{
    height: 100%;
    width: 50%;
}
.right .right-img{
   width: 100%;
   height: 100%;
   overflow: hidden;
   border-radius: 15px;
}
.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section-2{
    width: 100%;
    height: 100%;
  font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0px;
}
.marquee-div{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 20px;
}
.card{
    width: 25%;
    height: 400px;
    border-radius: 10px;
      background-color: rgb(238, 238, 238,0.662);
    padding: 5px 10px;
}
.card .card-img-div{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    background-image: url("https://plus.unsplash.com/premium_photo-1676968002945-c8f74e0e27d8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    display:flex ;
    justify-content: flex-end;
    padding: 10px 25px;
}
.card-img-div i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .card-text-div{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.card-text-div h4{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}
.card-text-div p{
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.4;
}
.card:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;
}
.marquee-text-bottom{
    display: flex;
    gap: 10px;
    
}
.marquee-text h5{
    opacity: 0.5;
    letter-spacing: 2px;
}
.marquee-text{
    padding-top: 10px;
     display: flex;
    flex-direction: column;
    gap: 20px;
   
}
.marquee-text h2{
   font-weight: 500;
}
.marquee-text-bottom h4{
    font-weight: 400;
    letter-spacing: 1px;
}
.marquee-text-bottom i{
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card:nth-child(2) .card-img-div{
    background-image: url("https://images.unsplash.com/photo-1613545325278-f24b0cae1224?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.card:nth-child(4) .card-img-div{
    background-image: url("https://images.unsplash.com/photo-1613545325268-9265e1609167?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}